<div class="auth">
  <div class="auth-container">
    <div class="auth-block">
      <div class="login-text">Login to enter the application</div>
      <div class="login-input">
        <input
          placeholder="Username"
          type="text"
          pInputText
          [(ngModel)]="username"
        />
      </div>
      <div class="login-input">
        <input
          placeholder="Password"
          type="password"
          pInputText
          [(ngModel)]="password"
        />
      </div>
      <div class="submit-btn">
        <p-button
          label="Login"
          [outlined]="true"
          severity="success"
          (onClick)="login()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
